upstream uwsgi_app {
    server unix:/code/educa/uwsgi_app.sock;
}

server {
    listen 80;
    server_name www.educaproject.com educaproject.com;
    error_log stderr warn;
    access_log /dev/stdout main;
    location / {
        include /etc/nginx/uwsgi_params;
        uwsgi_pass uwsgi_app;
    }
}