{% extends 'base.html' %}

{% block title %}
    Чат курса {{ course.title }}
{% endblock  %}

{% block content %}
    <div id="chat">
    </div>
    <div id="chat-input">
        <input type="text" id="chat-message-input">
        <input type="submit" id="chat-message-submit" value="Отправить">
    </div>
{% endblock  %}


{% block include_js %}
    {{ course.id|json_script:"course-id" }}
    {{ request.user.username|json_script:"request-user" }}
{% endblock  %}


{% block domready %}
const courseId = JSON.parse(
    document.getElementById('course-id').textContent
);

const requestUser = JSON.parse(
    document.getElementById('request-user').textContent
);

const url = 'wss://' + window.location.host + '/ws/chat/room/' + courseId + '/';
const chatSocket = new WebSocket(url);

chatSocket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    const chat = document.getElementById('chat');

    const dateOptions = {hour: 'numeric', minute: 'numeric'};
    const datetime = new Date(data.datetime).toLocaleString('ru', dateOptions);
    const isMe = data.user === requestUser;
    const source = isMe ? 'me' : 'other';
    const name = isMe ? 'Me' : data.user;



    chat.innerHTML += '<div class="message '+ source + '">' + '<strong>' + name + '</strong>' + '<span class="date">' + datetime + '</span><br>' + data.message + '</div>';
    chat.scrollTop = chat.scrollHeight;
};

chatSocket.onclose = function(event) {
    console.error('Chat socket closed unexpectedly');
};


const input = document.getElementById('chat-message-input');
const submitButton = document.getElementById('chat-message-submit');

submitButton.addEventListener('click', function(event) {
    const message = input.value;
    if(message) {
        // отправить сообщение в формате json
        chatSocket.send(JSON.stringify({'message': message}));
        // очистить поле ввода
        input.value = '';
        input.focus();
    }
});


input.addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
        // отменить стандартное действие
        // если необходимо
        event.preventDefault();
        // запустить событие нажатие клавиши
        submitButton.click();
    }
});
input.focus();


{% endblock  %}
