{% extends 'base.html' %}

{% block title %}
    Мои курсы
{% endblock  %}

{% block content %}
    <h1>Мои курсы</h1>
    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p>
                    <a href="{% url 'course_edit' course.id %}">Редактировать</a>
                    <a href="{% url 'course_delete' course.id %}">Удалить</a>
                </p>
            </div>
        {% empty %}
            <p>Вы не создали еще ни одного курса</p>
        {% endfor %}
        <p>
            <a href="{% url 'course_create' %}" class="button">Создать курс</a>
        </p>
    </div>
{% endblock  %}
    