{% extends 'base.html' %}
{% load course %}

{% block title %}
    {{ object.title }}
{% endblock  %}

{% block content %}
    {% with subject=object.subject %}
        <h1>
            {{ object.title }}
        </h1>
        <div class="module">
            <h2>Обзор</h2>
            <p>
                <a href="{% url 'course_list_subject' subject.slug %}">
                    {{ subject.title }}
                </a>
                {{ object.modules.count }} {{ object.modules.count|ru_plural:"модуль,модуля,модулей" }} |
                Учитель: {{ object.owner.get_full_name }}
            </p>
            {{ object.overview|linebreaks }}
        </div>
    {% endwith %}
{% endblock  %}
