{% extends 'base.html' %}
{% load course %}

{% block title %}
    {% if subject %}
        {{ subject.title }} 
    {% else %}
        Все курсы
    {% endif %}
{% endblock  %}

{% block content %}
    <h1>
    {% if subject %}
        {{ subject.title }} 
    {% else %}
        Все курсы
    {% endif %}
    </h1>
    <div class="contents">
        <h3>Предметы</h3>
        <ul id="modules">
            <li {% if not subject %}class="selected"{% endif %}>
                <a href="{% url 'course_list' %}">Все</a>
            </li>
            {% for s in subjects %}
                <li {% if not subject %}class="selected"{% endif %}>
                    <a href="{% url 'course_list_subject' s.slug %}">
                        {{ s.title }}
                        <br>
                        <span>
                            {{ s.total_courses }} {{ s.total_courses|ru_plural:"курс,курса,курсов" }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% for course in courses %}
            {% with subject=course.subject %}
                <h3>
                    <a href="{% url 'course_detail' course.slug %}">
                        {{ course.title }}
                    </a>
                </h3>
                <p>
                    <a href="{% url 'course_list_subject' subject.slug %}">
                        {{ subject }}
                    </a>
                    {{ course.total_modules }} {{ course.total_modules|ru_plural:"модуль,модуля,модулей" }} |
                    Учитель: {{ course.owner.get_full_name }}
                </p>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock  %}
