{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Обучение{% endblock  %}</title>
</head>
<body>
    <div id="header">
        <a href="/" class="logo">e_du</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    
    {% block include_js %}
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            {% block domready %}
            {% endblock %}
        })
    </script>
</body>
</html>

