{% extends 'base.html' %}

{% block title %}
    {% if object %}
        Редактировать содержимое "{{ object.title }}"
    {% else %}
        Добавить содержимое
    {% endif %}
{% endblock  %}

{% block content %}
    <h1>
    {% if object %}
        Редактировать содержимое "{{ object.title }}"
    {% else %}
        Добавить содержимое
    {% endif %}
    </h1>
    <div class="module">
        <h2>О курсе</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Сохранить"></p>
        </form>
    </div>
{% endblock  %}
    